@model FanWebPageRedone.Models.Story
@{

    ViewData["Title"] = "Stories";
}
<div class="text-center">
    <h1 class="display-4">Stories lana del rey</h1>
    <p>Stories about the famous lana del rey, queen of the rivierra.!</p>
</div>

<h1>Book Review</h1>
<strong>Enter your Review</strong>
<br />
<form method="post">
    <label asp-for="StoryTitle">Title</label><br />
    <input asp-for="StoryTitle" /><br />

    <label asp-for="Topic">r</label>Topic<br />
    <input asp-for="Topic" /><br />

    <label asp-for="UserName.Name">YourName</label><br />
    <input asp-for="UserName.Name" /><br />

    <label asp-for="Text">Story</label><br />
    <textarea asp-for="Text" placeholder="Write story here">
</textarea><br />

    <button type="submit">Submit</button>
</form>
<br />
<hr />

<h2>Your Stories</h2>
<p>
    <strong>Title:</strong><br />
    @Model.StoryTitle<br/>
    <strong>Topic</strong><br />
    @Model.Topic<br />
     <strong>Name:</strong><br />
    @Model.UserName.Name<br />
    <strong>Text:</strong><br />
    @Model.Text </br >
    <strong>Date:</strong><br />
    @Model.Date<br />
    
</p>

<a asp-controller="Home" asp-action="Index">Home</a>